/* 전체 선택자 */
* {
  padding: 0px;
  margin: 0px;
}

/* 조상 자손 선택자 */
header ul {
  background-color: green;
  color : white ;
}

/* 부모 자식 선택자 */
footer > ul {
  background-color: black;
  color: white;
}

/* 속성선택자 */
h2[class] {
  color : yellow ;
}

/* 클래스선택자 */
.g1 {
  /* 배경색과 글자색 */
  background-color: blue;
  color : white;

  /* 가로와 세로 */
  width: 50%;
  height: 80px;

  /* 안쪽여백 */
  padding: 20px;
  /* 바깥여백 */
  margin : 20px;
/* 박스사이징 */
  box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}



.g2 {
  background-color: red;
  color : white;
}

/* 아이디 선택자 */
#html {
  background-color: blueviolet;
  color : white;
}

/* 그룹 */
#s1 , #s2 {
  background-color: gainsboro;
}
/* 인라인스타일변경 */
strong {
    display: inline;
    background-color: red;
    color: aliceblue;
    padding: 10px;

    width: 50px;
    height: 40;
}

/* 구글 폰트 */
article > p{ 
  font-family: "Nanum Pen Script", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  }